import { KptFunc } from 'kpt-functions';

export const {{func_name}}: KptFunc = (configs) => {
  // TODO: implement.
};

{{func_name}}.usage = `
TODO: Describe what the function does.

TODO: Describe how to configure the function.

TODO: Provide an example configuration.
`;
