import { Configs } from 'kpt-functions';

export async function {{func_name}}(configs: Configs) {
  // TODO: implement.
};

{{func_name}}.usage = `
TODO: Describe what the function does.

TODO: Describe how to configure the function.

TODO: Provide an example configuration.
`;
