{
  "name": "{{{package_name}}}",
  "version": "0.0.1",
  "scripts": {
    "prepare": "npm run build",
    "build": "tsc",
    "watch": "tsc --watch",
    "clean": "rm -Rf node_modules/ dist/",
    "test": "ts-node node_modules/jasmine/bin/jasmine --config=jasmine.json",
    "kpt:type-create": "npm init kpt-functions type-create",
    "kpt:function-create": "npm init kpt-functions function-create",
    "kpt:docker-create": "npm init kpt-functions docker-create",
    "kpt:docker-build": "npm test && npm init kpt-functions docker-build",
    "kpt:docker-push": "npm init kpt-functions docker-push",
    "kpt:docker-publish": "npm init kpt-functions docker-build && npm init kpt-functions docker-push",
    "kpt:workflow-create": "npm init kpt-functions workflow-create"
  },
  "dependencies": {
    "kpt-functions": "{{{kpt_functions_path}}}"
  },
  "devDependencies": {
    "@types/jasmine": "^3.3.12",
    "@types/node": "^12.7.2",
    "jasmine": "^3.4.0",
    "tslint": "^5.19.0",
    "ts-node": "^8.1.0",
    "typescript": "^3.5.3"
  },
  "dev_kpt": {
    "docker_repo_base": "{{{docker_repo_base}}}"
  }
}
