import { Configs, TestRunner } from 'kpt-functions';
import { {{{func_name}}} } from './{{{file_name}}}';

const RUNNER = new TestRunner({{{func_name}}});

describe('{{{func_name}}}', () => {
  it('does something', async () => {
    // TODO: Populate the input to the function.
    const input = new Configs();

    // TODO: Populate the expected output of the function.
    const expectedOutput = new Configs();

    await RUNNER.assert(input, expectedOutput);
  });
});
