name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  node-ci:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        node-version: [12.x]
        package: [kpt-functions, create-kpt-functions, init-package, hello-world, demo-functions]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install and test NPM packages
      run: |
        cd ts/${{ matrix.package }}
        npm ci
        npm test
    - name: Check linceses
      if: matrix.package == 'kpt-functions' || 
          matrix.package == 'create-kpt-functions' || 
          matrix.package == 'demo-functions'
      run: |
        cd ts/${{ matrix.package }}
        npm run lint-license
    - name: Generate docs diff
      if: matrix.package == 'kpt-functions'
      run: |
        cd ts/${{ matrix.package }}
        npm run gen-docs
        DIFF=$(git status -s)
        [[ -z $DIFF ]] || { echo "Need to update docs: $DIFF"; }
        
  go-ci:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    env:
      GOPATH: /home/runner/work/kpt-functions-sdk/go
      GO111MODULE: off  
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Check out code into GOPATH
      uses: actions/checkout@v1
      with:
        path: go/src/github.com/${{ github.repository }}
    - name: Build, Test, Lint
      run: |
        cd go
        make all

  e2e-ci:
    needs: [node-ci, go-ci]
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        node-version: [12.x]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install NPM packages
      run: |
        cd ts/demo-functions
        npm ci
    - name: Build docker images
      if: matrix.platform == 'ubuntu-latest'
      run: |
        cd ts/demo-functions
        npm run kpt:docker-build
    - name: Run all e2e tests
      if: matrix.platform == 'ubuntu-latest'
      run: |
        sudo curl https://storage.googleapis.com/kpt-dev/latest/linux_amd64/kpt -o /usr/local/bin/kpt
        sudo chmod +x /usr/local/bin/kpt
        tests/e2e.sh
    - name: Run non-docker e2e tests
      if: matrix.platform != 'ubuntu-latest'
      run: |
        NODOCKER=true tests/e2e.sh
